<footer class="main-footer">
    <% if(loggedIn) { %>
        <div id ="footer-1" class="div-footer"> Role: <%= user.role %> </div>
    <% } else {%>
        <div id ="footer-1" class="div-footer"> Ticket helpdesk </div>
    <% } %>
    <div id ="footer-2" class="div-footer">tickethelpdesk20@gmail.com</div>
</footer>

</body>
</html>